<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Products</title>

    <link rel="stylesheet" type ="text/css" href = "styles/header.css" />
    <link rel="stylesheet" type ="text/css" href = "styles/sub-pages.css" />
    <link rel="stylesheet" type ="text/css" href = "styles/home.css"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>
  <body>

    <% include partials/header.ejs %>

    <div class="title-block">
      <h2>Product Search All</h2>
    </div>
    <form action="/home">
      <button type="submit" class="small-buttons">Go Back</button>
    </form>
    <section>
      <table class="table-data" id="myTable">
        <tr>
          <th>SKU</th>
          <th>Description</th>
          <th>Sellable On Hand</th>
          <th>Open PO Quantity</th>
          <th>MOQ</th>
          <th>Lead Time</th>
          <th>Back Orders</th>
        </tr>

        <% for (var i = 0; i < data.length; i++) { %>
        <tr>
          <td><%= data[i].SKU %></td>
          <td><%= data[i].Description %></td>
          <td><%= data[i].SellableOnHand %></td>
          <td><%= data[i].OpenPOQuantity %></td>
          <td><%= data[i].MOQ %></td>
          <td><%= data[i].LeadTime %></td>
          <td><%= data[i].BackOrders %></td>
        </tr>
        <% } %>

      </table>
    </section>

    <section>
      <table id="myTable"> </table>
    </section>
    <!-- The Modal -->
    <div id="myModal" class="modal">
    <!-- Modal content -->
      <div class="modal-content">
        <span class="ship">&times;</span>
        <div>
        <p>Update Data for Item:</p>
      </div>
        <form class="submit-form" action="editProduct" method="POST">
          <input action="editProduct" name="skuNumber" type= "text" id ="skuNumber" placeholder="SKU" value="<%= data.SKU %>" readonly/>
          <input action="editProduct" name="description" type= "text" id ="description" placeholder="Description" value="<%= data.Description %>"/>
          <input action="editProduct" name="sellable" type= "text" id ="sellable" placeholder="Sellable On Hand" value="<%= data.SellableOnHand %>"/>
          <input action="editProduct" name="openPO" type= "text" id ="openPO" placeholder="Open PO Qty" value="<%= data.OpenPOQuantity %>"/>
          <input action="editProduct" name="moq" type= "text" id ="moq" placeholder="MOQ" value="<%= data.MOQ %>"/>
          <input action="editProduct" name="leadtime" type= "text" id ="leadtime"  placeholder="Lead Time" value="<%= data.LeadTime %>"/>
          <input action="editProduct" name="bkorder" type= "text" id ="bkorder" placeholder="Back Orders" value="<%= data.BackOrders %>"/>
          <button id = "closebtn" class="insert-buttons">Update</button>
        </form>
      </div>
    </div>
    <script>
      // Get the modal
      var modal = document.getElementById('myModal');
      // Get the button that opens the modal
      var btn = document.getElementById("editbtn");
      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("ship")[0];
      // After submit button is hit, it triggers the modal to close
      var close = document.getElementById("closebtn");
      // When the user clicks the button, open the modal
      btn.onclick = function() {
        modal.style.display = "block";
        }
      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        modal.style.display = "none";
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
        close.onclick = function(){
          modal.style.display = "none";
        }
      </script>
  </body>
</html>
