<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sales</title>

    <link rel="stylesheet" type ="text/css" href = "styles/header.css" />
    <link rel="stylesheet" type ="text/css" href = "styles/sub-pages.css" />
    <link rel="stylesheet" type ="text/css" href = "styles/home.css"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>
  <body>
    <% include partials/header.ejs %>

    <div class="title-block">
      <h2>Sales Search</h2>
    </div>

      <table class="table-data" id="myTable">
        <tr>
          <th>SKU</th>
          <th>Vendor</th>
          <th>Sales PO Number</th>
          <th>Sales Quantity</th>
          <th>Sales Date</th>
          <th>Sales Amount</th>
        </tr>
        <tr>
          <td><%= data.SKU %></td>
          <td><%= data.Vendor %></td>
          <td><%= data.SalesPONumber %></td>
          <td><%= data.SalesQty %></td>
          <td><%= data.SalesDate %></td>
          <td><%= data.SalesAmt %></td>
        </tr>
      </table>
    </section>
    <form>
      <button type="submit" class="small-buttons" action="sales">Back</button>
    </form>
    <button id="editbtn" class="small-buttons">Edit</button>
    <section>
      <table id="myTable"> </table>
    </section>


    <!-- The Modal -->
    <div id="myModal" class="modal">

    <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>Update Data for Sales Record:</p>
        <form class="submit-form" action="editsales" method="POST">
          <input action="editsales" name="skuNumber" type= "text" id ="skuNumber" placeholder="SKU" value="<%= data.SKU %>">
          <input action="editsales" name="vendor" type= "text" id ="vendor" placeholder="Vendor" value="<%= data.Vendor %>">
          <input action="editsales" name="salespo" type= "text" id ="salespo" placeholder="Sales PO Number" value="<%= data.SalesPONumber %>">
          <input action="editsales" name="salesqty" type= "text" id ="salesqty" placeholder="Sales Qty" value="<%= data.SalesQty %>">
          <input action="editsales" name="salesdate" type= "text" id ="salesdate" placeholder="Sales Date" value="<%= data.SalesDate %>">
          <input action="editsales" name="salesamt" type= "text" id ="salesamt" placeholder="Sales Amt" value="<%= data.SalesAmt %>">
          <button id = "closebtn" class="insert-buttons">Submit</button>
        </form>
      </div>
    </div>
    <script>
      // Get the modal
      var modal = document.getElementById('myModal');
      // Get the button that opens the modal
      var btn = document.getElementById("editbtn");
      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];
      // After submit button is hit, it triggers the modal to close
      var close = document.getElementById("closebtn");
      // When the user clicks the button, open the modal
      btn.onclick = function() {
        modal.style.display = "block";
        }
      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        modal.style.display = "none";
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
        close.onclick = function(){
          modal.style.display = "none";
        }
      </script>
  </body>
</html>
