<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Shipping</title>

    <link rel="stylesheet" type ="text/css" href = "styles/header.css" />
    <link rel="stylesheet" type ="text/css" href = "styles/sub-pages.css" />
    <link rel="stylesheet" type ="text/css" href = "styles/home.css"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>
  <body>

    <% include partials/header.ejs %>

    <div class="title-block">
      <h2>Shipping Search</h2>
    </div>
    <section>
      <table class="table-data" id="myTable">
        <tr>
          <th>SKU</th>
          <th>Shipping Date</th>
          <th>Shipping PO Number</th>
          <th>Shipping Quantity</th>
          <th>InCost/Unit</th>
          <th>Shipping Total Amount</th>
          <th>Received</th>
          <th>Shipping Date Received</th>
        </tr>

        <% for (var i = 0; i < data.length; i++) { %>
        <tr>
          <td><%= data[i].SKU %></td>
          <td><%= data[i].ShippingDate %></td>
          <td><%= data[i].ShippingPONumber %></td>
          <td><%= data[i].ShippingQty %></td>
          <td><%= data[i].IncostUnit %></td>
          <td><%= data[i].ShippingTotalAmt %></td>
          <td><%= data[i].Received %></td>
          <td><%= data[i].ShippingDateReceived %></td>
        </tr>
        <% } %>
      </table>
    </section>
    <form action="/shipping">
      <button type="submit" class="small-buttons">Go Back</button>
    </form>
    <button id="editbtn" class="small-buttons">Edit</button>
    <section>
      <table id="myTable"> </table>
    </section>


    <!-- The Modal -->
    <div id="myModal" class="modal">

    <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>Update Data for Sales Record:</p>
        <form class="submit-form" action="editshipping" method="POST">
          <input action="editshipping" name="skuNumber" type= "text" id ="skuNumber" placeholder="SKU" value="<%= data.SKU %>">
          <input action="editshipping" name="shdate" type= "text" id ="shdate" placeholder="Shipping Date" value="<%= data.ShippingDate %>">
          <input action="editshipping" name="shPOnum" type= "text" id ="shPOnum" placeholder="Shipping PO Number" value="<%= data.ShippingPONumber %>">
          <input action="editshipping" name="shqty" type= "text" id ="shqty" placeholder="Shipping Qty" value="<%= data.ShippingQty %>">
          <input action="editshipping" name="shcostunit" type= "text" id ="shcostunit" placeholder="In cost/unit" value="<%= data.IncostUnit %>">
          <input action="editshipping" name="shtotalamt" type= "text" id ="shtotalamt" placeholder="Shipping Total" value="<%= data.ShippingTotalAmt %>">
          <input action="editshipping" name="shreceived" type= "text" id ="shreceived" placeholder="Received" value="<%= data.Received %>">
          <input action="editshipping" name="shreceiveddate" type= "text" id ="shreceiveddate" placeholder="Date Received" value="<%= data.ShippingDateReceived %>">
          <button id = "closebtn" class="insert-buttons">Submit</button>
        </form>
      </div>
    </div>
    <script>
      // Get the modal
      var modal = document.getElementById('myModal');
      // Get the button that opens the modal
      var btn = document.getElementById("editbtn");
      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];
      // After submit button is hit, it triggers the modal to close
      var close = document.getElementById("closebtn");
      // When the user clicks the button, open the modal
      btn.onclick = function() {
        modal.style.display = "block";
        }
      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        modal.style.display = "none";
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
        close.onclick = function(){
          modal.style.display = "none";
        }
      </script>
  </body>
</html>
